* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  max-height: 100vh;
}

.container {
  width: calc(100% + 20px);
  max-height: 100vh;
  overflow-y: auto;
}

.content {
  width: calc(100% - 20px);
  height: 1000vh;
}
